---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} InCheck.AI. All rights reserved.
	<div class="footer-links">
		<a href="/privacy" class="footer-link">Privacy Policy</a>
		<a href="/contact" class="footer-link">Contact</a>
	</div>
	<div class="social-links">
		<a href="https://www.linkedin.com/company/incheckai" target="_blank" rel="noopener">
			<span class="sr-only">Follow InCheck AI on LinkedIn</span>
			<!-- LinkedIn SVG -->
			<svg width="32" height="32" viewBox="0 0 32 32" aria-hidden="true">
				<path fill="currentColor" d="M27 27h-4.5v-6.75c0-1.61-.03-3.69-2.25-3.69-2.25 0-2.6 1.76-2.6 3.58V27H13V12.5h4.3v1.97h.06c.6-1.13 2.08-2.33 4.28-2.33 4.58 0 5.42 3.01 5.42 6.92V27zM8.5 10.53a2.62 2.62 0 1 1 0-5.24 2.62 2.62 0 0 1 0 5.24zm2.25 16.47H6.25V12.5h4.5V27z"/>
			</svg>
		</a>
		<a href="https://github.com/incheckai" target="_blank" rel="noopener">
			<span class="sr-only">Go to InCheck.AI's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32">
				<path fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-links {
		margin-top: 0.5em;
	}
	.footer-link {
		margin: 0 0.75em;
		color: rgb(var(--gray));
		text-decoration: none;
		font-size: 0.96em;
	}
	.footer-link:hover {
		text-decoration: underline;
		color: rgb(var(--gray-dark));
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
